certifi==2022.12.7
charset-normalizer==3.0.1
dlib==19.16.0
docutils==0.19
evdev==1.6.1
ffpyplayer==4.4.0
idna==3.4
Kivy==2.1.0
Kivy-examples==2.1.0
Kivy-Garden==0.1.5
MouseInfo==0.1.3
numpy==1.22.0
opencv-python==4.6.0.66
Pillow==9.4.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-xlib==0.33
python3-xlib==0.15
pytweening==1.0.4
requests==2.31.0
six==1.16.0
urllib3==1.26.14
